html {
  overflow-y: scroll;
}

#wrapper {
  margin:auto;
  width:950px;
}

#mainframe {
  float:left;
  width:700px;
  padding:0px 15px 0px;
}

#mainbox {
  float:left;
  width:700px;
  padding:0px 15px 0px;
}

#definitionbox {
  margin:10px;
  width:390px;
}

.row {
  padding:2px;
  clear:both;
  float:left;
}

#signupbutton {
  margin-left:10px;
}

#implicitrightsidebar {
  width: 290px;
  clear:right;
  float:right;
}

.error {
  color:red;
}

.sidebarblock {
  background-color:rgb(230,230,230);
  border-style: none none solid none;
  border-color: rgb(180,180,180);
  border-width: 2px;
  padding: 3px;
  width: 200px;
  overflow: hidden;
}

#sidebar {
  margin:10px 0px 5px;
  width: 200px;
  overflow:hidden;
  float:left;
  clear:left;
  position: fixed;
}

#sidebar-spacer {
  margin:10px 0px 5px;
  width: 195px;
  float:left;
}

#selectcategory {
  width:100px;
}

.farleft {
  clear:left;
  float:left;
}

#stakebox {
  font-size: 1.2em;
  border-collapse: collapse;
  border-style: none;
  margin-bottom: 10px;
}

th h3{
  margin: 0px 0px 16px; 0px;
  text-align:center;
}

#stakebox td {
  border-style:solid;
  border-width:0px 1px 1px 0px;
  padding: 5px;
}

#stakebox td:last-child {
  border-right-width: 0px;
}

#stakebox tr:last-child td {
  border-bottom-width:0px;
}

div.betdata {
  float:left;
  font-size: 1.2em;
  margin: 5px 10px 0px;
}

div.topicbox {
  margin:8px 0 22px;
  overflow:hidden;
  padding:5px;
  clear:both;
}

#historybox {
  margin-top: 30px;
  border-style: none;
  border-collapse: collapse;
  border-width: 0px;
  font-size:1.2em;
}

td.title{
  font-size: 1.2em;
}

tr.underline {
  border-style: solid;
  border-width: 0px 0px 1px;
}

#historybox td{
  padding:0px 5px 0px;
  border:none;
}

tr.odd {
   background-color: rgb(255,235,205);
}

tr.even {
   background-color: white;
}


.betbox {
  clear:left;
  float:left;
  margin-left: 10px;
  margin-right: 10px;
  width:390px;
  font-size: 1.5em;
}

.header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.header {
  margin-top: 22px;
  margin-bottom: 35px;
}

.clear {
  clear:both;
  float:left;
}

.betvalue {
  clear:right;
  float:right;
}

#rightbar {
  float:right;
}

#navbar {
  position: fixed;
  top: 0px;
}

#navbar-spacer {
  height: 11px;
}

#navlinks {
   border-top: 1px solid black;
   border-bottom: 2px solid black;
   list-style-type:none outside;
   clear:both;
   background-color: rgb(255,230,200);
   overflow:hidden;
   padding: 5px 0;
   margin: 0px 0 0;
   width: 950px;
}

#navlinks li{
  padding: 0 15px;
  margin: 1px;
  float:left;
  border-left: 1px solid;
}

#navlinks li:first-child {
  border-left:none;
}

#navlinks a {
  text-decoration:none;
  color:gray;
}

#navlinks a.activeLink {
  color:black;
}

#navlinks a:hover {
  color:rgb(0,0,0);
}

h2 a:link, h2 a:visited {
  color:black;
}

h2 a:hover, h2 a:active {
  color:rgb(155,35,15);
}


.currentbet {
  font-size:3em;
  float:left;
}

#alertbox{
  border: 1px solid black;
  background-color: #FCC;
  clear: both;
  position: fixed;
  padding: 8px;
  margin-top: 16px;
  margin-left: 208px;
  text-align: center;
  opacity: 0;
}

.activedomain{
  font-size: 2.5em;
}

.inactivedomain{
  font-size: 1.5em;
  color:gray;
}

.inactivedomain{
}

.domainholder{
  text-align: center;
  width: 200px;
}

.loading {
  margin-left:10px;
  height:25px;
  width:25px;
  visibility:hidden;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration:none;
  color:rgb(235,143,0);
  cursor:pointer;
}

a:hover, a:active {
  color:rgb(155,35,15);
}

body {
  font:12px Arial, Helvetica,sans-serif;
}

.right {
  float:right;
}

.left {
  float:left;
}

table.nicebox {
  -moz-border-radius: 4px 4px 4px 4px;
  background-color:rgb(255,230,150);
  border: 2px solid black;
  margin: 4px;
}

table.whitebox {
  -moz-border-radius: 4px 4px 4px 4px;
  border: 2px solid black;
  margin: 4px;
  background-color:white;
}


ul {
  list-style-type:none;
  text-align:center;
}

.orange {
  color:rgb(235,143,0);
}

a.orange, a.orange:link, a.orange:visited, a.orange:hover, a.orange:active {
  outline: 1px solid rgb(235,183,40);
  background-color: rgb(235,143,0);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

a.orange:hover, a.orange:active {
  background-color: rgb(255,163,20);
}

a.gray, a.gray:link, a.gray:visited, a.gray:hover, a.gray:active {
  outline: 1px solid #999;
  background-color: #8C8C8C;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

a.gray:hover, a.gray:active {
  background-color: #AAA;
}

a.thick {
  display: block;
  cursor:pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: -6px;
  margin-right: 12px;
  padding: 3px 0 4px;
  text-align: center;
  text-decoration: none;
  width: 80px;
}

div.betdescription {
  float:left;
  clear:both;
}

.submitbetbox input, .submitbetbox textarea{
  margin:0px 5px 0px 2px;
}

input[type="submit"]:hover {
  background-color:rgb(205,205,205);
}

input, textarea {
  -moz-border-radius: 4px 4px 4px 4px;
  border: 1px solid #8A8A8B;
  font: 1em Helvetica,sans-serif;
  padding: 2px;
}

table.nicebox input, table.nicebox textarea{
  -moz-border-radius: 4px 4px 4px 4px;
  border: 1px solid #8A8A8B;
  font: 1em Helvetica,sans-serif;
  padding: 2px;
}

#rightbar, #leftbar{
  vertical-align:text-top;
}

.failuremessage {
  color:red;
  text-align:center;
}

.betslider {
  margin:10px;
  width:300px;
}

.center {
  margin:auto;
}

td.winnings {
  text-align:center;
}

table.betonit {
  margin:auto;
}


span.winnings {
  color:rgb(235,143,0);
}

.ui-slider  .ui-slider-handle {
}

div.fillbox {
  width:100%;
  height:100px;
  background-color:red;
  border:1px;
  border-color:black;
}

#betinput {
  width:30px;
  margin:auto;
  text-align:center;
}

.payoff {
  display:inline-block;
  width:50px;
}

div.change a.delete {
  display:block;
  width:20px;
  height:20px;
  float:right;
  background-repeat:no-repeat;
}

div.change a.delete:link, div.change a.delete:visited {
  background-image: url(grayx.png);
}

div.change a.delete:hover {
  background-image: url(pinkx.png);
}

div.change a.delete:active {
  background-image: url(redx.png);
}


div.change:last-child {
  border-bottom-style: solid;
}

.left-align {
  float: left;
  margin-right: .3em;
}

.right-align {
  float: right;
  margin-left: .3em;
}

.positive {
  color: #080;
}

.negative {
  color: #C00;
}

.descriptionbox {
  margin-bottom: -12px;
}

.tagbox {
  margin-bottom: 4px;
}

.bet-button {
  margin-top: 8px;
  margin-right: 8px;
}

h3.short {
  margin-bottom: 8px;
  font-size: 17px;
}

.left-slider-extension, .right-slider-extension {
  float: left;
  height: 0.85em;
}

.left-slider-extension {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: -10px;
  background-color: #F7B850;
  border: solid #DDD;
  border-width: 1px 0px 1px 1px;
}

.right-slider-extension {
  margin-top: 10px;
  margin-left: -10px;
  background-color: #F8F8F8;
  border: solid #DDD;
  border-width: 1px 1px 1px 0px;
}

#newbet {
  float: left;
  border-width: 1px 0px 1px; 0px;
}

#loginbutton, #signupbutton, #loginerror {
  margin-top: 3px;
  margin-bottom: 0px;
}

#beterror, #submitclaimerror {
  margin-top: 4px;
  margin-bottom: -20px;
  font-size: 12px;
}

#definitionbox {
  margin-top: 12px;
}

#submitbet, #resolve {
  margin-top: 8px;
}

.text-input {
  width: 95%;
  margin-bottom: 8px;
}

#resolve-dialog {
  overflow: hidden;
}

#resolve-spacer {
  height: 4px;
}

#submitclaim-form {
  margin-top: 20px;
  margin-left: -2px;
  width: 90%;
}

#submitclaim-form p {
  margin-top: 4px;
  margin-bottom: 6px;
}

#submitclaim-form label {
  float: left;
  margin-top: 3px;
  margin-right: 3px;
  text-align: right;
  width: 16%;
}

#submitclaim-form label[for='betinput'] {
  margin-top: 14px;
  margin-right: -4px;
}

#submitclaim-form textarea {
  width: 64%;
  height: 14px;
  resize: none;
}

#submitclaim-form input {
  height: 14px;
}

#submitclaim-form #bettable {
  font-size: 17px;
  width: 390px;
}

#submitclaim-form #betinput {
  width: 30px;
  height: auto;
}

#submitclaim-form #close-date {
  width: 12%;
  margin-right: 6px;
}

#submitclaim-form #close-time {
  width: 6%;
}

#submitclaim-form #domain {
  border-color: #8A8A8B;
  float: left;
  font-size: 11px;
  margin-top: -2px;
  margin-bottom: 2px;
  margin-left: 0px;
  width: 64%;
}

#submitclaim-spacer {
  height: 26px;
}

/* This is dangerous! It may affect jQueryUI */
/* elements other than the tag inputs.       */
.ui-autocomplete {
  text-align: left;
  font-size: 11px;
}
